<style type="text/css">
.form-group.required .control-label:after {
  content:"*";
  color:red;
  top:0px;
}
.product .img-responsive {
    margin: 0 auto;
}
</style>
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">User Form</h1>
    </div>  
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row" >
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                 <a ui-sref="dashboard.home"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
            </div>
            <div class="panel-body">
                <div class="row">
                    <form name="singupUser" role="form" ng-submit="save(avtar)" >
                    <div class="col-lg-12">
                        <section>
                        <h3>Profile (If it’s not social, admin can edit the profile) <a ng-show="showEditMode" ng-click="editMod()"><i class="fa fa-edit"></i></a></h3>

                            <div ng-class="{'has-error': singupUser.email.$invalid && (singupUser.email.$dirty)}" class="col-lg-6 form-group required">
                                <label class="control-label" >Email</label>
                                <input type="email" ng-model="user.email" name="email" ng-disabled="editMode" class="form-control" placeholder="Enter Email"  ng-pattern='/^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/' required cuemail email-type="user">
                             <!--    <p class="help-block">Example block-level help text here.</p> -->
                                <div class="col-lg-6 form-group" ng-messages="singupUser.email.$error" ng-if="singupUser.email.$dirty">
                                  <span class="help-block error" ng-message="required">This field is required.</span>
                                  <span class="help-block error" ng-message="pattern">This email address is invalid.</span>
                                  <span class="help-block error" ng-show="singupUser.email.$error.cuemail && singupUser.email.$dirty">This email already exist!</span>

                                </div>
                            </div>
                            
                            <div ng-class="{'has-error': singupUser.name.$invalid && (singupUser.name.$dirty)}" class=" col-lg-6 form-group required">
                                <label class="control-label" >Name</label>
                                <input name="name" ng-model="user.name" ng-disabled="editMode" class="form-control" placeholder="Enter Name" ng-pattern="/^[a-zA-Z ]*$/" ng-maxlength="100" required >
                                <div class="col-lg-6 form-group" ng-messages="singupUser.name.$error" ng-if="singupUser.name.$dirty">
                                  <span class="help-block error" ng-message="required">This field is required.</span>
                                  <span class="help-block error" ng-message="maxlength">This field maximum length is 100 characters.</span>
                                  <span class="help-block error" ng-message="pattern">Please enter valid characters.</span>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div ng-class="{'has-error': singupUser.password.$invalid && (singupUser.password.$dirty)}" class=" col-lg-6 form-group required">
                                <label class="control-label">Password</label>
                                <input name="password"  ng-pattern="/^\S*$/" id="password" ng-model="user.password" type="password" ng-disabled="editMode" ng-minlength="8" class="form-control" placeholder="Enter Password" required>
                                <div class="col-lg-6 form-group" ng-messages="singupUser.password.$error" ng-if="singupUser.password.$dirty">
                                  <span class="help-block error" ng-message="required">This field is required.</span>
                                  <span class="help-block error" ng-message="pattern">Plese enter valid characters.</span>
                                  <span class="help-block error" ng-message="minlength">This field minimum length is 8 characters.</span>
                                </div>
                            </div>
                            <div ng-class="{'has-error': singupUser.cpassword.$invalid && (singupUser.cpassword.$dirty)}" class=" col-lg-6 form-group required">
                                <label class="control-label" >Confirm Password</label>
                                <input  name="cpassword" id="cpassword" ng-model="cpassword" type="password" ng-disabled="editMode" class="form-control" placeholder="Confirm Password" required pw-check="password">
                                <div class="col-lg-6 form-group" ng-messages="singupUser.cpassword.$error" ng-if="singupUser.cpassword.$dirty">
                                  <span class="help-block error" ng-message="required">This field is required.</span>
                                  <span class="help-block error" ng-show="singupUser.cpassword.$error.pwmatch && singupUser.cpassword.$dirty">Passwords don't match.</span>
                                </div>
                            </div>

                            <div class="clearfix"></div>

                            <div ng-class="{'has-error': singupUser.avtar.$invalid && (singupUser.avtar.$dirty)}"  class=" col-lg-6 form-group ">
                                <label class="control-label" >Avtar Image</label>&nbsp;&nbsp;&nbsp;&nbsp;<img ngf-thumbnail="avtar">
                                <input  type="file" ngf-resize="{width: 100, height: 100}" ngf-select ng-model="avtar" name="avtar" ngf-max-size="2MB"  ngf-model-invalid="errorFile"/>
                                <div class="col-xs-5 " ng-messages="singupUser.avtar.$error" ng-if="singupUser.avtar.$dirty">
                                       <!--  <span class="help-block error" ng-message="required">This field is required.</span> -->
                                        <span class="help-block error" ng-message="maxSize">File too large {{errorFile.size / 1000000|number:1}}MB: max 2M.</span>
                                </div>


                            </div>
                            <div ng-class="{'has-error': singupUser.age.$invalid && (singupUser.age.$dirty)}" class=" col-lg-6 form-group required">
                                <label class="control-label" >Age</label>
                                <input name="age" id="age" type="number" ng-disabled="editMode" class="form-control" ng-pattern="/^(0?[1-9]|[1-9][0-9]|1[0-5][0-9])$/" placeholder="Enter Age" ng-model="user.age" required >
                                <div class="col-lg-6 form-group" ng-messages="singupUser.age.$error" ng-if="singupUser.age.$dirty">
                                  <span class="help-block error" ng-message="required">This field is required.</span>
                                  <span class="help-block error" ng-message="number">Enter only number.</span>
                                   <span class="help-block error" ng-message="pattern">Please enter valid age.</span>
                                </div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="col-lg-6 form-group">
                                <label>Select Status</label>
                                <select ng-disabled="editMode" class="form-control" name="satus" ng-model="user.status">
                                    <option value="">---Please select status---</option>
                                    <option value =1 >Unban</option>
                                    <option value =2 >Ban</option>
                                    <option value =3 >Pending</option>
                                </select>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 form-group">
                                <button ng-disabled="singupUser.$invalid"  type="submit" class="btn btn-default">Submit Button</button>
                                <a ui-sref="dashboard.users" class="btn btn-default">Cancel</a>
                            </div>
                        </div>
                        </section>
                        </form>
                    </div>

                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>