<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Question Form</h1>
    </div>  
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                 <a ui-sref="dashboard.home"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <form name="questionForm" id="questionForm" method="post" class="form-horizontal" ng-submit="editModeCat ? edit() : save()">
                            <div ng-class="{'has-error': questionForm.question.$invalid && (questionForm.question.$dirty)}" class="form-group required">
                                <label class="col-xs-3 control-label">Question</label>
                                <div  class="col-xs-5">
                                    <input  type="text" ng-model="question.question" class="form-control" name="question" ng-maxlength="{{ maxlength }}" check-unique required checktype="{{ editModeCat ? 'editquestion' : 'question' }}" />
                                     <!-- <span  class="help-block"> Question</span> -->
                                    <div class="col-lg-6 form-group" ng-messages="questionForm.question.$error" ng-if="questionForm.question.$dirty">
                                      <span class="help-block error" ng-message="required">This field is required.</span>
                                      <span class="help-block error" ng-message="maxlength">This field maximum length is 1024 characters.</span>
                                      <span class="help-block error" ng-message="checkUnique" >This question already exist!</span>

                                    </div>
                                </div>
<!--                             <div class="col-xs-4">
                                <button type="button" class="btn btn-default addButton"><i class="fa fa-plus"></i></button>
                            </div> -->
                            </div>

                            <div ng-class="{'has-error': questionForm.option1.$invalid && (questionForm.option1.$dirty)}" class="form-group required">
                                <label class="col-xs-3 control-label">Option(A)</label>
                                <div class="col-xs-5">
                                    <input type="text" ng-model="question.answer.option1" class="form-control" name="option1" ng-maxlength="{{ maxlength }}" required/>
                                    <div class="col-lg-6 form-group" ng-messages="questionForm.option1.$error" ng-if="questionForm.option1.$dirty">
                                      <span class="help-block error" ng-message="required">This field is required.</span>
                                      <span class="help-block error" ng-message="maxlength">This field maximum length is 1024 characters.</span>
                                    </div>
                                </div>
                            </div>
                            <div ng-class="{'has-error': questionForm.option2.$invalid && (questionForm.option2.$dirty)}" class="form-group required">
                                <label class="col-xs-3 control-label">Option(B)</label>
                                <div class="col-xs-5">
                                    <input type="text" ng-model="question.answer.option2" class="form-control" name="option2" ng-maxlength="{{ maxlength }}" required/>
                                    <div class="col-lg-6 form-group" ng-messages="questionForm.option2.$error" ng-if="questionForm.option2.$dirty">
                                      <span class="help-block error" ng-message="required">This field is required.</span>
                                      <span class="help-block error" ng-message="maxlength">This field maximum length is 1024 characters.</span>
                                    </div>
                                </div>
                            </div>
                            <div ng-class="{'has-error': questionForm.option3.$invalid && (questionForm.option3.$dirty)}" class="form-group required">
                                <label class="col-xs-3 control-label">Option(C)</label>
                                <div class="col-xs-5">
                                    <input type="text" ng-model="question.answer.option3" class="form-control" name="option3" ng-maxlength="{{ maxlength }}" required/>
                                    <div class="col-lg-6 form-group" ng-messages="questionForm.option3.$error" ng-if="questionForm.option3.$dirty">
                                      <span class="help-block error" ng-message="required">This field is required.</span>
                                      <span class="help-block error" ng-message="maxlength">This field maximum length is 1024 characters.</span>
                                    </div>
                                </div>
                            </div>
                            <div ng-class="{'has-error': questionForm.option4.$invalid && (questionForm.option4.$dirty)}" class="form-group required">
                                <label class="col-xs-3 control-label">Option(D)</label>
                                <div class="col-xs-5">
                                    <input type="text" ng-model="question.answer.option4" class="form-control" name="option4" ng-maxlength="{{ maxlength }}" required/>
                                    <div class="col-lg-6 form-group" ng-messages="questionForm.option4.$error" ng-if="questionForm.option4.$dirty">
                                      <span class="help-block error" ng-message="required">This field is required.</span>
                                      <span class="help-block error" ng-message="maxlength">This field maximum length is 1024 characters.</span>
                                    </div>
                                </div>
                            </div>


                            <!-- The option field template containing an option field and a Remove button -->
                            <div class="form-group hide" id="optionTemplate">
                                <div class="col-xs-offset-3 col-xs-5">
                                    <input class="form-control" type="text" name="option[]" />
                                </div>
                                <div class="col-xs-4">
                                    <button type="button" class="btn btn-default removeButton"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-5 col-xs-offset-3">
                                    <button ng-disabled="questionForm.$invalid" type="submit" class="btn btn-default">Submit</button>
                                    <a ui-sref="dashboard.questions" class="btn btn-default">Cancel</a>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>

<script>
/*$(document).ready(function() {
    // The maximum number of options
    var MAX_OPTIONS = 5;

    $('#surveyForm')
        .formValidation({
            framework: 'bootstrap',
            icon: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                question: {
                    validators: {
                        notEmpty: {
                            message: 'The question required and cannot be empty'
                        }
                    }
                },
                'option[]': {
                    validators: {
                        notEmpty: {
                            message: 'The option required and cannot be empty'
                        },
                        stringLength: {
                            max: 100,
                            message: 'The option must be less than 100 characters long'
                        }
                    }
                }
            }
        })

        // Add button click handler
        .on('click', '.addButton', function() {
            var $template = $('#optionTemplate'),
                $clone    = $template
                                .clone()
                                .removeClass('hide')
                                .removeAttr('id')
                                .insertBefore($template),
                $option   = $clone.find('[name="option[]"]');

            // Add new field
            $('#surveyForm').formValidation('addField', $option);
        })

        // Remove button click handler
        .on('click', '.removeButton', function() {
            var $row    = $(this).parents('.form-group'),
                $option = $row.find('[name="option[]"]');

            // Remove element containing the option
            $row.remove();

            // Remove field
            $('#surveyForm').formValidation('removeField', $option);
        })

        // Called after adding new field
        .on('added.field.fv', function(e, data) {
            // data.field   --> The field name
            // data.element --> The new field element
            // data.options --> The new field options

            if (data.field === 'option[]') {
                if ($('#surveyForm').find(':visible[name="option[]"]').length >= MAX_OPTIONS) {
                    $('#surveyForm').find('.addButton').attr('disabled', 'disabled');
                }
            }
        })

        // Called after removing the field
        .on('removed.field.fv', function(e, data) {
           if (data.field === 'option[]') {
                if ($('#surveyForm').find(':visible[name="option[]"]').length < MAX_OPTIONS) {
                    $('#surveyForm').find('.addButton').removeAttr('disabled');
                }
            }
        });
});*/
</script>