<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Dashboard</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <stats number="number" comments="Total Users!" colour="primary" type="user"></stats>
        <stats number="totalclient" comments="Total Clients!" colour="primary" type="user"></stats>
        <stats number="18" comments="Total Likes!" colour="green" type="info"></stats>
        <stats number="18" comments="Highest likes!" colour="red" type="info"></stats>
        <stats number="18" comments="Highest Favorites!" colour="yellow" type="info"></stats>
<!--         <stats number="18" comments="New orders!" colour="yellow" type="shopping-cart"></stats>
        <stats number="24" comments="Support tickets!" colour="red" type="support"></stats> -->

    </div>
    
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Charts</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div  class="row">

    <div class="col-lg-12 col-sm-12" id="gbar-chart">
        <div class="panel panel-default">
            <div class="panel-heading">Bar Chart</div>
            <div class="panel-body">
                <canvas id="bar" class="chart chart-bar" data="bar.data" labels="bar.labels" series="bar.series"
                options="bar.options"></canvas>
            </div>
        </div>
    </div>
</div>

</div>
